<div class="center-items">
    <div class="container">
        <h1 class="display-4 text-center">Welcome Trainer</h1>
        <div class="form-control">
            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                <label for="username" class="col-sm-2 col-form-label">Enter Username</label>
                <input type="text" formControlName="usernameInput" id="username" class="form-control mb-3">
                <button type="submit" class="btn btn-outline-success mb-3">Sign In</button>
            </form>
            <a routerLink="signup" class="link-primary">Not registered? Sign up!</a>
        </div>
    </div>
</div>